
@font-face {
  font-family: "Raleway";
  src: url("Raleway-Regular.ttf");}

body {font-family: "Raleway","Sans serif";
margin: 0; padding: 0 ; 
background-color: white;
}
p{margin : 0.5em 0;}
a{color: inherit; text-decoration: none;}

.blocpage{margin:0 11em; margin-bottom: 0;}

/* Header */
header{
	display:flex; width: 100% ; height: auto; justify-content: space-between; align-items: center; margin-top :1.5%; padding-top: 1em ; padding-bottom: 1em;}

.logo{
	margin : 0;
	padding :0 ;}

/* Navigation */ 
.boutonsnavigation {display : flex ; justify-content: flex-end; align-items: flex-end; padding : 1.5%}
.boutonNav1{margin : 0 20%; color: #0065FC ;}
.boutonNav2{margin : 0 20%; color: grey ; font-weight: bold}
.boutonNav3{margin : 0 20%; color: #0065FC ; font-weight: bold}


/* recherche */
.rechercheinput{padding : 1em ; margin : 0; border : 1px groove; }
#searchbutton{background-color: #0065FC ; color: white ;
 	padding : 1em ; margin : 0; border : 1px groove; 
	border-bottom-right-radius: 10px ; 
	border-top-right-radius: 10px ;
}
#itemMapmarker{background-color: #F2F2F2;
    padding: 1rem 1rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
    display: inline-flex; 
    justify-content: center;
}

.NamePicture{font-weight: bold;
margin: 0;}
.fa-star{margin:0; margin-bottom: 1em ;}

/* Filtres */
.filtres{display: inline-flex; width: 100% ; height: auto ;}
.itemfiltre{display: flex; align-items: flex-start; margin-right : 7%;
	font-weight: bold;     border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    padding : 1em;
}

.itemfiltre:hover{
  background-color: #DEEBFF;
}
.itemfiltretitre{display: inline-flex; align-items: center;margin-right : 7%; font-weight:bold; font-size: 22px}
.fa-dog{border-radius: 50%; border-color: grey;padding: 0 1em ; }
.fa-heart{border-radius: 50%;padding: 0 1em ;}
.fa-baby{border-radius: 50%;padding: 0  1em ;}
.fa-money-bill-wave{border-radius: 50%;padding: 0 1em ;}
.fa-chart-line{display: flex; justify-content: flex-end; align-items: flex-end;padding: 0 10px ;}


/* Bloc Principal main comprenant les containers article et aside */

.main{width: 100% ; height: auto ; background-color: white ; display: flex; margin: 2em 0 ;}

/* ARTICLE */
article{display : block ; max-width: 65%; background-color: #F2F2F2; padding: 1em 2em;
border-radius: 1em;}

.titrearticle{display: inline-block ; 
	justify-content: flex-start; 
	align-items: flex-start;
	padding:0 1em; font-weight: bold; font-size: 22px;}

.photosarticle{
	height: 10em;
	max-height: 100%;
	width: auto;
}
.hebergement{display:flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-flow: wrap;
	width: 100%;
	padding: 0 10px ;padding: 8px;}

.blocimagemain{
background-color: white;
height: 100%;
margin: 1em;}

.TextPrixArticle{margin : 5px 0px;}

/* ASIDE */ 
aside{display : flex ; background-color: #F2F2F2 ; width: 45% ; margin :0 2em ; border-radius: 1em ; padding: 1em 2em ; }
.titrecategoriePopu{font-size: 22px; font-weight: bolder ;}
.titreprincipal{font-weight: bold; font-size: 2em; width: 100%; margin-bottom: 0.25em;}


/*SECTION ACTIVITES */

.SectionActivites{width : 100% ; background-color: white ; }
.TitreActivites{font-weight: bold ; width: 100%; }
.activitesbigimg{width: 10em ; max-width: 100% ; height: auto ; }


/* FOOTER */
footer{margin:0 ;padding : 0 9em;}
.footer{
	background-color: #F2F2F2;
	width: 100%;
	display: flex;
	}

.touteslesColonnes{
    max-width: 100%;
    width: 1440px;
    padding: 0 2rem;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.liensfooter{display: flex;
	margin-bottom: 1em;
	}
