
@font-face {
  font-family: "Raleway";
  src: url("Raleway-Regular.ttf");}

body {
	font-family: "Raleway","Sans serif";
	margin: 0; padding: 0 ; 
	background-color: white;
}
p{margin : 0.5em 0;}
a{color: inherit; text-decoration: none;}
figure{padding: 0; margin: 0;}
.blocpage{
	margin:0 8em;
 	margin-bottom: 0;}

/* Header */
header{
	display:flex; width: 100% ; height: auto; justify-content: space-between; align-items: center; margin-top :1.5%; padding-top: 1em ; padding-bottom: 1em;}

.logo{
	margin : 0;
	padding :0 ;}

/* Navigation */ 
.boutonsnavigation {display : flex ; 
	justify-content: flex-end; 
	align-items: flex-end; 
	padding : 1.5%}
.boutonNav1{
	margin : 0 20%; 
	color: #0065FC ;}
.boutonNav2{
	margin : 0 20%; 
	color: grey ; 
	font-weight: bold}
.boutonNav3{
	margin : 0 20%; 
	color: #0065FC ; 
	font-weight: bold}

/* recherche */
.rechercheinput{
	border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 1em 1.5rem;
    box-sizing: border-box;
    width: 14em;
    font-size: 1em;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";}

#searchbutton{
	display: inline-flex;
	background-color: #0065FC ; 
	color: white ;
 	padding : 1em 1.5rem ; 
 	margin : 0; 
 	border : 1px solid; 
	border-bottom-right-radius: 15px ; 
	border-top-right-radius: 15px ;
	font-size: 1em;
}
#itemMapmarker{background-color: #F2F2F2;
    padding: 1.20em 1em;
    border-radius: 1em 0 0 1rem;
    text-align: flex-start;
    display: inline-flex; 
    justify-content: flex-start;
}


/* Filtres */
.filtres{display: flex; width: 100% ; height: auto ;}
.itemfiltre{display: flex; align-items: flex-start; margin-right : 2.5em;
	font-weight: bold;     border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    padding : 1em;
}
.itemfiltre:hover{
  background-color: #DEEBFF;
}

.itemfiltretitre{
	display: inline-flex;
	align-items: center;
	margin-right : 2.5em; 
	font-weight:bold; 
	font-size: 22px
}
.fa-dog{background : #DEEBFF;border-radius: 50%; }
.fa-heart{background : #DEEBFF;border-radius: 50%;}
.fa-baby{background : #DEEBFF;border-radius: 50%;}
.fa-money-bill-wave{ background : #DEEBFF;border-radius: 50%;}
.fa-chart-line{display: flex; justify-content: flex-end; align-items: flex-end;}


/* Bloc Principal main comprenant les containers article et aside */

.main{width: 100% ; 
	height: auto ; 
	background-color: white ; 
	display: flex; 
	margin: 2em 0 ;}

/* ARTICLE */
article{display : block ; 
	max-width: 100%; 
	width: 80%; 
	background-color: #F2F2F2; 
	padding: 1em 2em;
	border-radius: 1em;}

.titrearticle{display: inline-block ; 
	justify-content: flex-start; 
	align-items: flex-start;
	padding:0; font-weight: bold; font-size: 22px; margin : 0.5em 0;}

.photosarticle{
	height: 10em;
	max-height  : 100%;
	width: 14em;
	box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.21);
	border-radius: 0.5em;
	border-color: white;
	padding: 0.5em;}

.hebergement{display:flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-flow: wrap;
	width: 100%;
	padding: 0.5em 0.5em;

}

.blocimagemain{
background-color: white;
margin: 1em;
 }

.TextPrixArticle{margin : 5px 0px;}
h5{padding-top: 0; margin-top: 0;}

.NamePicture{font-weight: bold;
margin: 0;
border-color: white;
border : 1em none;
padding: 0.5em;}

.fa-star{margin:0; margin-bottom: 1em ;}

/* ASIDE */ 
aside{display : flex ; 
	background-color: #F2F2F2 ;
	width: 33% ; margin :0 2em ;
	border-radius: 1em ;
	padding: 0 2em ;
	flex-wrap: wrap; }

#titrecategoriePopu{font-size: 1em; font-weight: bold ;display: flex;
    align-content: space-around;
    justify-content: space-between; width : 100%;
	padding-bottom: 0em;
	margin-bottom: 0em;}
.titreprincipal{font-weight: bold; font-size: 2em; width: 100%; margin : 0.5em 0;}

.boxblocPopu{width: 100%;}

.imgblocPopu{
	width: 11rem;
max-width: 100%;
height: 9rem;
display: flex ;
}

.flottantPopu{display: flex ;float:left; flex-flow: wrap column;}

/*SECTION ACTIVITES */
.Activites{
	width: 100% ;
	border : white ;}

.Activitessansheader{
	display: flex;
}

.ActivitésLarge{margin: 1em;}
.ActivitesColonne{margin: 1em;}

.ActivitesImgLarge1{height: 400px ; width: 275px;}
.ActivitesImgLarge2{height: 400px ; width: 275px;}
.ActivitesImgColonne{height: 200px ; width: 225px ; }

/* FOOTER */
footer{margin:0 ;padding:0;}
.footer{
	background-color: #F2F2F2;
	width: 100%;
	display: flex; 
	}

.touteslesColonnes{
    max-width: 100%;
    width: 1440px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2em;margin: 1em;
}

.liensfooter{display: flex;
	margin-bottom: 1em;
	}
